
@keyframes spread {
    0%{
        scale: 1;
        opacity: 1;
    }
    50%{
        scale: 1.4;
        opacity: 0.7;
    }

    100%{
        scale: 1.6;
        opacity: 0;
    }

}



.core{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgba(82, 82, 82, 0.533);
    animation: spread 1s ease-out infinite;
}

.middle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgba(82, 82, 82, 0.533);
    animation: spread 1.2s ease-out infinite;
}
.outside{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: rgba(82, 82, 82, 0.533);
    animation: spread 1.5s ease-out infinite;
}

